<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    	   http://www.springframework.org/schema/task
    	   http://www.springframework.org/schema/task/spring-task-3.0.xsd">
   <!-- <bean id="ruleGenerateTask" class="com.vdpssger.corrrulecfg.task.RuleGenerate"/>
    <bean id="synchroToMongoTask" class="com.vdpssger.corrrulecfg.task.SyncToMongo"/>
    <task:scheduled-tasks>
        &lt;!&ndash;每天22点生成第二天规则到规则结果表&ndash;&gt;
        <task:scheduled ref="ruleGenerateTask" 	method="dailyTask"  cron="0 0 22 * * ?"/>
        &lt;!&ndash;在规则结果生成后同步到mongodb,23点后&ndash;&gt;
        <task:scheduled ref="synchroToMongoTask" 	method="excuteProcess"  cron="0 0 23 * * ?"/>
    </task:scheduled-tasks>-->
</beans>