<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.united.permission.dao.CorpModuleRoleMapper">
  <resultMap id="BaseResultMap" type="com.united.permission.dao.entity.CorpModuleRole">
    <constructor>
      <idArg column="id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="corp_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="biz_module_key" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="role_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="role_alias_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="biz_superadmin" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="remark" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="description" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="is_checked" javaType="java.lang.Boolean" jdbcType="TINYINT" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, corp_id, biz_biz_module_key, role_name, role_alias_name, biz_superadmin, remark, description
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_corp_module_role
    where id = #{id,jdbcType=BIGINT}
  </select>


  <select id="listNotGeneralManager" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_corp_module_role
    where corp_id=#{param1}  and biz_superadmin <![CDATA[ <> ]]>2
  </select>


  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_corp_module_role
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.united.permission.dao.entity.CorpModuleRole">
    insert into t_corp_module_role (id, corp_id, biz_module_key, 
      role_name, role_alias_name, biz_superadmin, 
      remark, description)
    values (#{id,jdbcType=BIGINT}, #{corpId,jdbcType=BIGINT}, #{bizModuleKey,jdbcType=VARCHAR}, 
      #{roleName,jdbcType=VARCHAR}, #{roleAliasName,jdbcType=VARCHAR}, #{bizSuperadmin,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.united.permission.dao.entity.CorpModuleRole">
    insert into t_corp_module_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="corpId != null">
        corp_id,
      </if>
      <if test="bizModuleKey != null">
        biz_module_key,
      </if>
      <if test="roleName != null">
        role_name,
      </if>
      <if test="roleAliasName != null">
        role_alias_name,
      </if>
      <if test="bizSuperadmin != null">
        biz_superadmin,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="description != null">
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="corpId != null">
        #{corpId,jdbcType=BIGINT},
      </if>
      <if test="bizModuleKey != null">
        #{bizModuleKey,jdbcType=VARCHAR},
      </if>
      <if test="roleName != null">
        #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="roleAliasName != null">
        #{roleAliasName,jdbcType=VARCHAR},
      </if>
      <if test="bizSuperadmin != null">
        #{bizSuperadmin,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.united.permission.dao.entity.CorpModuleRole">
    update t_corp_module_role
    <set>
      <if test="corpId != null">
        corp_id = #{corpId,jdbcType=BIGINT},
      </if>
      <if test="bizModuleKey != null">
        biz_module_key = #{bizModuleKey,jdbcType=VARCHAR},
      </if>
      <if test="roleName != null">
        role_name = #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="roleAliasName != null">
        role_alias_name = #{roleAliasName,jdbcType=VARCHAR},
      </if>
      <if test="bizSuperadmin != null">
        biz_superadmin = #{bizSuperadmin,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.united.permission.dao.entity.CorpModuleRole">
    update t_corp_module_role
    set corp_id = #{corpId,jdbcType=BIGINT},
      biz_module_key = #{bizModuleKey,jdbcType=VARCHAR},
      role_name = #{roleName,jdbcType=VARCHAR},
      role_alias_name = #{roleAliasName,jdbcType=VARCHAR},
      biz_superadmin = #{bizSuperadmin,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>


  <select id="listRole" resultMap="BaseResultMap">
       SELECT
        tcmr.*, CASE
    WHEN tar.account_id IS NOT NULL THEN
        1
    ELSE
        0
    END AS is_checked
    FROM
        t_corp_module_role tcmr
    LEFT JOIN (
        SELECT
            *
        FROM
            t_account_role
        WHERE
            corp_id=#{param1}
           AND account_id = #{param2}
    ) tar ON tcmr.corp_id = tar.corp_id
    AND tcmr.id = tar.module_role_id
    where tcmr.corp_id=#{param1} AND tcmr.biz_module_key=#{param3}
    AND   tcmr.biz_superadmin <![CDATA[ <> ]]>2
  </select>
</mapper>