<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.united.permission.dao.ModuleRoleMapper">
  <resultMap id="BaseResultMap" type="com.united.permission.dao.entity.ModuleRole">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="biz_module_key" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="role_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="role_alias_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="biz_superadmin" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="remark" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="description" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, biz_module_key, role_name, role_alias_name, biz_superadmin, remark, description
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_module_role
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_module_role
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.united.permission.dao.entity.ModuleRole">
    insert into t_module_role (id, biz_module_key, role_name, 
      role_alias_name, biz_superadmin, remark, 
      description)
    values (#{id,jdbcType=INTEGER}, #{bizModuleKey,jdbcType=VARCHAR}, #{roleName,jdbcType=VARCHAR}, 
      #{roleAliasName,jdbcType=VARCHAR}, #{bizSuperadmin,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{description,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.united.permission.dao.entity.ModuleRole">
    insert into t_module_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="bizModuleKey != null">
        biz_module_key,
      </if>
      <if test="roleName != null">
        role_name,
      </if>
      <if test="roleAliasName != null">
        role_alias_name,
      </if>
      <if test="bizSuperadmin != null">
        biz_superadmin,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="description != null">
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="bizModuleKey != null">
        #{bizModuleKey,jdbcType=VARCHAR},
      </if>
      <if test="roleName != null">
        #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="roleAliasName != null">
        #{roleAliasName,jdbcType=VARCHAR},
      </if>
      <if test="bizSuperadmin != null">
        #{bizSuperadmin,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.united.permission.dao.entity.ModuleRole">
    update t_module_role
    <set>
      <if test="bizModuleKey != null">
        biz_module_key = #{bizModuleKey,jdbcType=VARCHAR},
      </if>
      <if test="roleName != null">
        role_name = #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="roleAliasName != null">
        role_alias_name = #{roleAliasName,jdbcType=VARCHAR},
      </if>
      <if test="bizSuperadmin != null">
        biz_superadmin = #{bizSuperadmin,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.united.permission.dao.entity.ModuleRole">
    update t_module_role
    set biz_module_key = #{bizModuleKey,jdbcType=VARCHAR},
      role_name = #{roleName,jdbcType=VARCHAR},
      role_alias_name = #{roleAliasName,jdbcType=VARCHAR},
      biz_superadmin = #{bizSuperadmin,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="listNotGeneralManager" resultMap="BaseResultMap">
    select *
    from t_module_role
    where biz_superadmin <![CDATA[ <> ]]>2
  </select>
</mapper>