<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.united.permission.dao.ResourceMapper">
  <resultMap id="BaseResultMap" type="com.united.permission.dao.entity.Resource">
    <constructor>
      <idArg column="db_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <idArg column="corp_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="text" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="parent_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="menu_url" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="menu_type" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="icon_cls" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="is_leaf" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="js_path" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="valid_status" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="role_key" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    db_id, corp_id, text, parent_id, name, menu_url, menu_type, icon_cls, is_leaf, js_path, 
    valid_status, role_key
  </sql>
  <select id="selectByPrimaryKey" parameterType="com.united.permission.dao.entity.ResourceKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_resource
    where db_id = #{dbId,jdbcType=INTEGER}
      and corp_id = #{corpId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.united.permission.dao.entity.ResourceKey">
    delete from t_resource
    where db_id = #{dbId,jdbcType=INTEGER}
      and corp_id = #{corpId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.united.permission.dao.entity.Resource">
    insert into t_resource (db_id, corp_id, text, 
      parent_id, name, menu_url, 
      menu_type, icon_cls, is_leaf, 
      js_path, valid_status, role_key
      )
    values (#{dbId,jdbcType=INTEGER}, #{corpId,jdbcType=INTEGER}, #{text,jdbcType=VARCHAR}, 
      #{parentId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{menuUrl,jdbcType=VARCHAR}, 
      #{menuType,jdbcType=VARCHAR}, #{iconCls,jdbcType=VARCHAR}, #{isLeaf,jdbcType=INTEGER}, 
      #{jsPath,jdbcType=VARCHAR}, #{validStatus,jdbcType=INTEGER}, #{roleKey,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.united.permission.dao.entity.Resource">
    insert into t_resource
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="dbId != null">
        db_id,
      </if>
      <if test="corpId != null">
        corp_id,
      </if>
      <if test="text != null">
        text,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="menuUrl != null">
        menu_url,
      </if>
      <if test="menuType != null">
        menu_type,
      </if>
      <if test="iconCls != null">
        icon_cls,
      </if>
      <if test="isLeaf != null">
        is_leaf,
      </if>
      <if test="jsPath != null">
        js_path,
      </if>
      <if test="validStatus != null">
        valid_status,
      </if>
      <if test="roleKey != null">
        role_key,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="dbId != null">
        #{dbId,jdbcType=INTEGER},
      </if>
      <if test="corpId != null">
        #{corpId,jdbcType=INTEGER},
      </if>
      <if test="text != null">
        #{text,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="menuUrl != null">
        #{menuUrl,jdbcType=VARCHAR},
      </if>
      <if test="menuType != null">
        #{menuType,jdbcType=VARCHAR},
      </if>
      <if test="iconCls != null">
        #{iconCls,jdbcType=VARCHAR},
      </if>
      <if test="isLeaf != null">
        #{isLeaf,jdbcType=INTEGER},
      </if>
      <if test="jsPath != null">
        #{jsPath,jdbcType=VARCHAR},
      </if>
      <if test="validStatus != null">
        #{validStatus,jdbcType=INTEGER},
      </if>
      <if test="roleKey != null">
        #{roleKey,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.united.permission.dao.entity.Resource">
    update t_resource
    <set>
      <if test="text != null">
        text = #{text,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="menuUrl != null">
        menu_url = #{menuUrl,jdbcType=VARCHAR},
      </if>
      <if test="menuType != null">
        menu_type = #{menuType,jdbcType=VARCHAR},
      </if>
      <if test="iconCls != null">
        icon_cls = #{iconCls,jdbcType=VARCHAR},
      </if>
      <if test="isLeaf != null">
        is_leaf = #{isLeaf,jdbcType=INTEGER},
      </if>
      <if test="jsPath != null">
        js_path = #{jsPath,jdbcType=VARCHAR},
      </if>
      <if test="validStatus != null">
        valid_status = #{validStatus,jdbcType=INTEGER},
      </if>
      <if test="roleKey != null">
        role_key = #{roleKey,jdbcType=VARCHAR},
      </if>
    </set>
    where db_id = #{dbId,jdbcType=INTEGER}
      and corp_id = #{corpId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.united.permission.dao.entity.Resource">
    update t_resource
    set text = #{text,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      menu_url = #{menuUrl,jdbcType=VARCHAR},
      menu_type = #{menuType,jdbcType=VARCHAR},
      icon_cls = #{iconCls,jdbcType=VARCHAR},
      is_leaf = #{isLeaf,jdbcType=INTEGER},
      js_path = #{jsPath,jdbcType=VARCHAR},
      valid_status = #{validStatus,jdbcType=INTEGER},
      role_key = #{roleKey,jdbcType=VARCHAR}
    where db_id = #{dbId,jdbcType=INTEGER}
      and corp_id = #{corpId,jdbcType=INTEGER}
  </update>
</mapper>